@charset "UTF-8";

/*
                ____
|    |    | |  | 
|    |    | |  |____
|    |    | |       |
|___ |____| |   ____|

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------------------*/
/* Configuração do header*/

menu {
    background-color:  #586F7C;
    padding: 8px 5px;
}

menu > a {
    padding: 2px;
    border: 2px solid black;
}

/*-------------------------------------*/
/* Configuração do main*/

main{
    background-color: #F4F4ED;
}

div#explicacao {
    background-color: #F45B69;
}

div#timer1 {
    padding-top: 4px;
    padding-left: 4px;
}

div#timer2 {
    padding-bottom: 4px;
    padding-left: 4px;
}

/*-------------------------------------*/
/* Configuração do footer*/

footer {
    text-align: center;
    background-color: #586F7C;
    padding: 8px;
}