@charset "UTF-8";

/*
                ____
|    |    | |  | 
|    |    | |  |____
|    |    | |       |
|___ |____| |   ____|

Projeto 01 -> Criação do HTML básico (Timers,Pausas,Duolingo,Descanço) e da primeira estilização

Projeto 02 -> Criação da página perfil, timer e loja, definindo as cores do projeto, no perfil foi iniciado o protótipo de como vai ficar o perfil, no timer foi adicionando a aba de definir tarefa e invertendo o descanso do timer 1

*/

/*

               Cores usadas

Branco ->  #F4F4ED
Vermelho rose -> #F45B69
Preto -> #211A1E
Azul - > #586F7C
Vermelho -> #F13030

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------------------*/
/* Configuração do header*/

menu {
    background-color: #586F7C;
    padding: 8px 5px;
}

menu > a {
    padding: 2px;
    border: 2px solid black;
}

/*-------------------------------------*/
/* Configuração do main*/

main {
    padding: 5px;
}

div#foto {
    height: 200px;
    width: 100px;

    border: 3px solid black;
    text-align: left;
}

div#dados {
    text-align: right;
}

/*-------------------------------------*/
/* Configuração do footer*/

footer {
    text-align: center;
    background-color: #586F7C;
    padding: 8px;
}